{% extends '_base.html' %}

{% block title %}خروج از حساب کاربری{% endblock title %}

{% block content %}
<section class="inner-page" id="profile-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h3>خروج از ناحیه کاربری</h3>
                            <br>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <p>  {{user.username}} عزیز آیا می خواهید از حساب کاربری خود خارج شوید؟ </p>
                                <div id='logoutbtn'>
                                    <a href=""><button class="btn btn-outline-danger" type="submit">بله</button></a>
                                    <a href="{% url 'personal_info' %}"><button class="btn btn-outline-success" type="button">خیر</button></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}