{% extends "_base.html" %}

{% block title %} بازیابی رمز عبور {% endblock %}

{% block content %}

<div class="container py-2 py-md-5">
    <div class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
        <h1 class="title">بازیابی رمز عبور</h1>
    </div>
    <br>
    {% if user.is_authenticated %}
        <p>{{user.username}} عزیز:</p>
        <p>ما برای شما یک ایمیل به آدرس {{user.email}} فرستادیم. اگر آن را دریافت نکرده اید، لطفاً پوشه اسپم خود را بررسی کنید. در غیر این صورت اگر ظرف چند دقیقه آن را دریافت نکردید با ما تماس بگیرید.</p>
    {% endif %}
</div>
    
{% endblock %}
