{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}ثبت نام{% endblock title %}

{% block content %}
    <section class="inner-page" id="contact-page">
        <div class="container-fluid" id="page-hero">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h1>عضویت در سایت</h1>
                                <p>با عضویت در سایت از همه امکانات روبیک مارکت بهره مند شوید.</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="./index.html">صفحه نخست</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">عضویت</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2 py-md-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-5 text-center">
                                <img src="{% static 'images/login.png' %}" alt="">
                            </div>
                            <div class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                                <div class="title">عضویت در روبیک مارکت</div>
                                <p>با ورود به ناحیه کاربری خود از همه امکانات سایت بهره مند شوید.</p>
                                <form action="{% url 'account_signup' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{form.username|as_crispy_field}}
                                        {{form.email|as_crispy_field}}
                                        {{form.password1|as_crispy_field}}
                                        {{form.password2|as_crispy_field}}
                                    <div class="form-group">
                                        <button class="btn btn-success">تکمیل عضویت</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}