{% extends '_base.html' %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load jalali_tags %}

{% block title %}جزئیات محصول{% endblock title %}

{% block content %}
<section class="inner-page" id="product-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>{{product.title}}</h1>
                            {% if short_description %}
                                <p>{{product.short_description}}</p>
                            {% endif %}
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">صفحه نخست</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'products' %}">فروشگاه</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{product.category}}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">

                        <div class="col-12 col-lg-5 px-lg-0">
                            <div class="swiper-container gallery-top">
                                <!-- Additional required wrapper -->
                                <ul class="swiper-wrapper">
                                    <!-- Slides -->
                                    <li id="1" class="swiper-slide">
                                        <a href="{{product.product_image.url}}" itemprop="contentUrl" data-size="900x710">
                                            <img src="{{product.product_image.url}}" itemprop="thumbnail" alt="" />
                                        </a>
                                    </li>
                                    {% if product.product_image1 %}
                                        <li id="1" class="swiper-slide">
                                            <a href="{{product.product_image1.url}}" itemprop="contentUrl" data-size="900x710">
                                                <img src="{{product.product_image1.url}}" itemprop="thumbnail" alt="" />
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if product.product_image2 %}
                                        <li id="1" class="swiper-slide">
                                            <a href="{{product.product_image2.url}}" itemprop="contentUrl" data-size="900x710">
                                                <img src="{{product.product_image2.url}}" itemprop="thumbnail" alt="" />
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if product.product_image3 %}
                                        <li id="1" class="swiper-slide">
                                            <a href="{{product.product_image3.url}}" itemprop="contentUrl" data-size="900x710">
                                                <img src="{{product.product_image3.url}}" itemprop="thumbnail" alt="" />
                                            </a>
                                        </li>
                                    {% endif %}
                                    <!-- /Slides -->
                                </ul>
                                
                                <!-- If we need navigation buttons -->
                                <div title="قبلی" class="swiper-button-prev swiper-button-white"></div>
                                <div title="بعدی" class="swiper-button-next swiper-button-white"></div>
                                
                            </div>
                            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="pswp__bg"></div>
                                <div class="pswp__scroll-wrap">
                                    <div class="pswp__container">
                                        <div class="pswp__item"></div>
                                        <div class="pswp__item"></div>
                                        <div class="pswp__item"></div>
                                    </div>
                                    <div class="pswp__ui pswp__ui--hidden">
                                        <div class="pswp__top-bar">
                                            <div class="pswp__counter"></div>
                                            <button class="pswp__button pswp__button--close" title="بستن (Esc)"></button>
                                            <button class="pswp__button pswp__button--fs" title="تمام صفحه"></button>
                                            <button class="pswp__button pswp__button--zoom" title="بزرگنمایی"></button>
                                            <div class="pswp__preloader">
                                                <div class="pswp__preloader__icn">
                                                    <div class="pswp__preloader__cut">
                                                        <div class="pswp__preloader__donut"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="pswp__button pswp__button--arrow--left" title="قبلی"></button>
                                        <button class="pswp__button pswp__button--arrow--right" title="بعدی"></button>
                                        <div class="pswp__caption">
                                            <div class="pswp__caption__center"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-7 mt-5 mt-lg-0 pl-lg-0" id="product-intro">
                            <a href="#">
                                <h1>{{product.title}}</h1>
                            </a>
                            <div class="stars-container">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <a href="#tabs-panel"><span>(نقد و بررسی)</span></a>
                            </div>
                            <div class="price-container py-2">
                                {% if product.discount_price %}
                                    <span class="pre-price">{{product.price | intcomma}}</span>
                                    <span class="price">{{product.discount_price | intcomma}} <span>تومان</span></span>
                                {% else %}
                                    <span class="price">{{product.price | intcomma}} تومان</span>
                                {% endif %}
                                <div class="badge badge-danger font-weight-light m-1 py-1 px-2">10%</div>
                            </div>
                            <p>{{product.description | safe}}</p>
                            <hr>
                            <form action="{% url 'cart:cart_add' product.id %}" method='POST'>
                                {% csrf_token %}
                                <div class="variables">
                                    <div class="title">گزینه های موجود:</div>
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <div class="variable">
                                                <div class="sub-title pt-2 pb-3">رنگ</div>
                                                <span class="color-variable"><a href="#" class="red"></a></span>
                                                <span class="color-variable"><a href="#" class="yellow"></a></span>
                                                <span class="color-variable"><a href="#" class="blue"></a></span>
                                                <span class="color-variable"><a href="#" class="black"></a></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <div class="variable">
                                                <div class="sub-title pt-2 pb-2">گارانتی</div>
                                                <select name="" class="form-select">
                                                    <option value="">بدون گارانتی</option>
                                                    <option value="">گارانتی 6 ماهه</option>
                                                    <option value="">گارانتی 12 ماهه</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <div class="variable">
                                                <div class="sub-title pt-2 pb-2">تعداد</div>
                                                <input type="number" name="quantity" min="1" max="20" class="form-control" value="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cta-container pt-3 pt-md-5">
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-success px-4 px-lg-2 px-xl-4 btn-add-to-basket"><i class="fa fa-shopping-cart"></i> افزودن به سبد خرید</button>
                                            <br class="d-sm-none">
                                            <a href="{% url 'fav_product' product.id %}">
                                                <div class="btn btn-outline-secondary btn-favorite mt-1 mt-sm-0" data-toggle="tooltip" data-placement="top" 
                                                    title={% if product in fav_product %}"حذف از علاقه‌مندی"{% else %}"افزودن به علاقه‌مندی"{% endif %}
                                                    style={% if product in fav_product %}"background-color:#fcb941"{% else %}{% endif %} >
                                                </div>
                                            </a>
                                            <a href="#"><div class="btn btn-outline-secondary btn-compare mt-1 mt-sm-0" data-toggle="tooltip" data-placement="top" title="مقایسه"></div></a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Share Links -->
                            <div class="pt-5" id="share-links">
                                <span>اشتراک گذاری: </span>
                                <a href="#" target="_blank"><span class="share-link"><img src="{% static 'images/social/twitter.png' %}" alt="توئیتر" width="18px"></span></a>
                                <a href="#" target="_blank"><span class="share-link"><img src="{% static 'images/social/insta.png' %}" alt="اینستاگرام" width="18px"></span></a>
                                <a href="#" target="_blank"><span class="share-link"><img src="{% static 'images/social/linkedin.png' %}" alt="لینکدین" width="18px"></span></a>
                                <a href="#" target="_blank"><span class="share-link"><img src="{% static 'images/social/facebook.png' %}" alt="فیس بوک" width="18px"></span></a>
                            </div>
                            <!-- Share Links -->
                        </div>

                        <!-- Nav Tabs -->
                            <div class="col-12">
                                <div id="product-nav-tabs">
                                    <div class="row pt-3 px-md-3">
                                        <div class="col-12">
                                            <div id="tabs-panel">
                                                <button class="tab-item tablink px-3 selected" onclick="openTab(event,'html-tab')">نقد و بررسی</button>
                                                <button class="tab-item tablink px-3" onclick="openTab(event,'details-tab')">جدول مشخصات</button>
                                                <button class="tab-item tablink px-3" onclick="openTab(event,'comments-tab')">دیدگاه کاربران ({{comments.all | length}})</button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 pt-2 px-0 px-lg-0">
                                                <!-- HTML Tab -->
                                                <div id="html-tab" class="tabs-container text-justify p-0 p-md-3">
                                                    <p>این یک متن آزمایشی است که به زودی توسط نویسنده این سایت، تکمیل یا حذف خواهد شد. اگر شما نویسنده‌ی این سایت هستید، برای حذف یا ویرایش این صفحه، کافی است از طریق مرکز مدیریت سایت خود وارد بخش مربوطه شده و محتوای این صفحه را ویرایش یا حذف کنید.</p>
                                                    <p>صفحات و محتوای آزمایشی همیشه بخشی از محتوای پیش‌نمایش قالب و افزونه های وب هستند که شما بتوانید ارتباط درستی با پیش نمایش قالب گرفته و تصمیم مناسبی بگیرید. این صفحات معمولا برای اطلاعات کلی در مورد سایت مثل «درباره ما»، «تماس با ما»، «فهرست» یا «نظرات شما» مفید هستند.</p>
                                                    <p>بنابراین نگران ویرایش و بروزرسانی محتوای این نوع صفحات نباشید. شما می‌توانید به سادگی و تنها با چند کلیک وارد ناحیه مدیریت وب‌سایت خود شده و مطلب مربوطه را ویرایش کنید.</p>
                                                    <p>این یک متن آزمایشی است که به زودی توسط نویسنده این سایت، تکمیل یا حذف خواهد شد. اگر شما نویسنده‌ی این سایت هستید، برای حذف یا ویرایش این صفحه، کافی است از طریق مرکز مدیریت سایت خود وارد بخش مربوطه شده و محتوای این صفحه را ویرایش یا حذف کنید. صفحات و محتوای آزمایشی همیشه بخشی از محتوای پیش‌نمایش قالب و افزونه های وب هستند که شما بتوانید ارتباط درستی با پیش نمایش قالب گرفته و تصمیم مناسبی بگیرید. این صفحات معمولا برای اطلاعات کلی در مورد سایت مثل «درباره ما»، «تماس با ما»، «فهرست» یا «نظرات شما» مفید هستند.</p>
                                                </div>
                                                <!-- /HTML Tab -->

                                                <!-- Details Tab -->
                                                <div id="details-tab" class="tabs-container px-0 px-md-3 pb-0 pb-md-3" style="display:none">
                                                    <!-- Detail Section -->
                                                    <div class="row">
                                                        <div class="col-12 my-2">
                                                            <span class="detail-title"><i class="fa fa-chevron-left small"></i> مشخصات کلی</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-12 col-md-3 font-weight-bold"><div class="bg-light p-2">طول</div></div>
                                                        <div class="col-12 col-md-9 pr-md-0"><div class="bg-light p-2">32 سانتی متر</div></div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-12 col-md-3 font-weight-bold"><div class="bg-light p-2">عرض</div></div>
                                                        <div class="col-12 col-md-9 pr-md-0"><div class="bg-light p-2">15 سانتی متر</div></div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-12 col-md-3 font-weight-bold"><div class="bg-light p-2">ارتفاع</div></div>
                                                        <div class="col-12 col-md-9 pr-md-0"><div class="bg-light p-2">25 سانتی متر</div></div>
                                                    </div>
                                                    <!-- /Detail Section -->
                                                    <!-- Detail Section -->
                                                    <div class="row">
                                                        <div class="col-12 my-2">
                                                            <span class="detail-title"><i class="fa fa-chevron-left small"></i> صفحه نمایش</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-12 col-md-3 font-weight-bold"><div class="bg-light p-2">صفحه نمایش رنگی</div></div>
                                                        <div class="col-12 col-md-9 pr-md-0"><div class="bg-light p-2">بله</div></div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-12 col-md-3 font-weight-bold"><div class="bg-light p-2">صفحه نمایش لمسی</div></div>
                                                        <div class="col-12 col-md-9 pr-md-0"><div class="bg-light p-2">بله</div></div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-12 col-md-3 font-weight-bold"><div class="bg-light p-2">بازه‌ی اندازه صفحه نمایش</div></div>
                                                        <div class="col-12 col-md-9 pr-md-0"><div class="bg-light p-2">6.0 اینچ و بزرگتر</div></div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-12 col-md-3 font-weight-bold"><div class="bg-light p-2">نسبت صفحه‌نمایش به بدنه</div></div>
                                                        <div class="col-12 col-md-9 pr-md-0"><div class="bg-light p-2">87.4 درصد</div></div>
                                                    </div>
                                                    <!-- /Detail Section -->
                                                </div>
                                                <!-- /Details Tab -->

                                                <!-- Comments Tab -->
                                                <div id="comments-tab" class="tabs-container px-0 px-md-3 pb-0 pb-md-2" style="display:none">
                                                    <div class="row">
                                                        <div class="col-12 text-justify" id="comments">
                                                            <div class="comments-container">
                                                                <div class="container px-0">
                                                                    <div class="row">
                                                                        <div class="col-12 pt-2">
                                                                            {% for comment in comments %}
                                                                                <!-- Show Comments -->
                                                                                <div class="comment p-3 my-2">
                                                                                    <div class="sender-details">
                                                                                        <div class="row">
                                                                                            <div class="col-3 col-sm-2 col-md-1 pl-md-0 pl-lg-2 pl-xl-3">
                                                                                                <img src="{% static 'images/user-no-image.jpg' %}" alt="" class="rounded">
                                                                                            </div>
                                                                                            <div class="col-9 col-sm-10 col-md-11 pr-0 pr-md-2 pr-xl-0 pt-0 pt-lg-1">
                                                                                                <div class="name">{{comment.author}}</div>
                                                                                                <div class="date">ارسال شده در {{comment.datetime_created | to_jalali:'%Y/%m/%d'}}</div>
                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <p>{{comment.comment_body | safe}}</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- /Show Comments -->
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Send Comment Form -->
                                                            <div class="comments-container">
                                                                <div class="row pt-4">
                                                                    <div class="col-12"><h2>دیدگاه خود را ارسال کنید</h2></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12 py-3">
                                                                        <div id="send-comment-form">
                                                                            {% if user.is_authenticated %}
                                                                                <p>{{user.username}} عزیز، نظر خود را برای این مطلب ارسال کنید. آدرس ایمیل شما منتشر نخواهد شد.</p>
                                                                                <form action="{% url 'product_detail' product.id %}" method="POST">
                                                                                    {% csrf_token %}
                                                                                    {{comment_form | crispy}}
                                                                                    <button type="submit" class="btn btn-success px-5">ارسال دیدگاه</button>
                                                                                </form>
                                                                            {% else %}
                                                                                <p>برای ارسال دیدگاه ابتدا به حساب کاربری خود وارد شوید | <a href="{% url 'account_login' %}">ورود به حساب کاربری</a></p>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /Send Comment Form -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Comments Tab -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- /Nav Tabs -->

                        <!-- Suggested Products -->
                        <div class="col-12 pt-5" id="suggested-products">
                            <div class="title py-3 text-center">محصولات مرتبط</div>
                            <div class="owl-carousel products-carousel">
                                {% for item in same_category_products %}
                                    <!-- Product Item -->
                                    <div class="product-box item">
                                        <a href="{{item.get_absolute_url}}"><div class="image" style="background-image: url('{{item.product_image.url}}')"></div></a>
                                        <div class="details p-3">
                                            <div class="category">
                                                <a href="{{item.get_absolute_url}}">{{item.category}}</a>
                                            </div>
                                            <a href="{{item.get_absolute_url}}"><h2>{{item.title}}</h2></a>
                                            <div class="price">{{item.price | intcomma}} تومان</div>
                                            <div class="rate">
                                                <i class="fa fa-star-half-alt"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <span class="reviews">(14 رای دهنده)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Product Item -->
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /Suggested Products -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}