{% extends '_base.html' %}

{% load static %}
{% load humanize %}

{% block title %}لیست محصولات{% endblock title %}

{% block content %}
<section class="inner-page" id="products-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>فروشگاه روبیک مارکت</h1>
                            <p>هر آنچه نیاز دارید در این فروشگاه موجود است</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">صفحه نخست</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">محصولات</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-3 px-3 px-lg-0">
                            {% include 'includes/side_panel.html' %}
                        </div>
                        <div class="col-12 col-lg-9 px-0 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                            <!-- Filters -->
                            <div id="order-filters">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-sm-10 my-1">
                                            <span class="d-block d-sm-inline-block">مرتب سازی بر اساس:</span>
                                            <span class="order-filter">
                                                <a class="text-secondary" href="{% url 'products' %}?type=list&value=newest">جدیدترین</a>
                                            </span>
                                            <span class="order-filter">
                                                <a class="text-secondary" href="{% url 'products' %}?type=list&value=most_visited">پربازدیدترین</a>
                                            </span>
                                            <span >
                                                <a class="order-filter text-secondary" href="{% url 'products' %}?type=list&value=most_sale">پرفروش‌ترین</a>
                                            </span>
                                        </div>
                                        <div class="col-12 col-sm-2 pt-1 text-end">
                                            <span>
                                                <a href="{% url 'products' %}?type=list" class="products-view-type active"><i class="fa fa-th-list"></i></a>
                                                <a href="{% url 'products' %}?type=tile" class="products-view-type"><i class="fa fa-th"></i></a>
                                            </span>
                                            &nbsp;|&nbsp;
                                            <span>{{products | length}} کالا</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Filters -->
                            <div class="mt-2" id="pager">
                                <div class="container">
                                    <div class="row row-cols-1 gx-md-4">
                                        <!-- Products -->
                                        {% for product in products %}
                                            <div class="col">
                                                <!-- Product Box -->
                                                <div class="product-box-row">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <a href="{{product.get_absolute_url}}"><div class="image" style="background-image: url({{product.product_image.url}})"></div></a>
                                                        </div>
                                                        <div class="col-12 col-md-8">
                                                            <div class="details py-3 px-3">
                                                                <div class="category">
                                                                    <a href="{{product.get_absolute_url}}">گوشی موبایل</a>
                                                                    &nbsp;/&nbsp;
                                                                    <a href="{{product.get_absolute_url}}">سامسونگ</a>
                                                                </div>
                                                                <a href="{{product.get_absolute_url}}"><h2>{{product.title}}</h2></a>
                                                                <div class="rate">
                                                                    <i class="fa fa-star-half-alt"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <span class="reviews">(14 رای دهنده)</span>
                                                                </div>
                                                                <p>{{product.description | safe}}</p>
                                                                <div class="price mb-2">{{product.price | intcomma}} تومان</div>
                                                                <a href=""><div class="btn btn-sm btn-success">مشاهده و خرید</div></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Product Box -->
                                            </div>
                                        {% endfor %}
                                        <!-- /Products -->
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="pagination-bg">
                                            <ul class="pagination justify-content-center pagination-sm"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}