{% extends '_base.html' %}

{% load static %}
{% load humanize %}

{% block title %}خانه{% endblock title %}


{% block content %}

<!-- Slider Section -->
<section id="slider" class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9" data-aos="fade-zoom-in" data-aos-duration="700">
                <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/slider/slide1.jpg' %}" class="d-block" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/slider/slide2.jpg' %}" class="d-block" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-md-3 mt-2 mt-sm-1 text-center text-sm-start" id="slider-side-banners">
                <div class="row row-cols-1 row-cols-sm-3 row-cols-md-1 h-100 gy-2 g-sm-1 g-md-0">
                    <div class="col align-self-start" data-aos="fade-top" data-aos-duration="1000">
                        <a href="./products.html">
                            <img src="{% static 'images/slider/side-slide1.jpg' %}" alt="" width="100%">
                        </a>
                    </div>
                    <div class="col align-self-center" data-aos="fade-top" data-aos-duration="1100">
                        <a href="./products.html">
                            <img src="{% static 'images/slider/side-slide2.jpg' %}" alt="" width="100%">
                        </a>
                    </div>
                    <div class="col align-self-end" data-aos="fade-top" data-aos-duration="1200">
                        <a href="./products.html">
                            <img src="{% static 'images/slider/side-slide3.jpg' %}" alt="" width="100%">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Slider Section -->

<!-- Featured Products Section -->
<section id="featured-products" class="my-5">
    <div class="container">
        <!-- Tabs -->
        <div class="row pb-2 pb-sm-4">
            <div class="col-12 text-center">
                <div class="btn-group" role="group" id="featured-products-nav">
                    <button type="button" class="btn active featured-categories" data-val="featured">محصولات منتخب</button>
                    <button type="button" class="btn featured-categories" data-val="on-sale">تخفیف خورده</button>
                    <button type="button" class="btn featured-categories" data-val="most-visited">پربازدیدترین</button>
                </div>
            </div>
        </div>
        <!-- /Tabs -->

        <!-- Products -->
            <!-- Featured Products-->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 featured-product featured" data-aos="fade-up" data-aos-duration="1000">
                    {% for featured in featured_products %}
                        <div class="col">
                            <!-- Product Box -->
                            <div class="product-box">
                                <a href="{% url 'product_detail' featured.id %}"><div class="image" style="background-image: url('{{featured.product_image.url}}')"></div></a>
                                <div class="icons">
                                    <a href="{% url 'fav_product' featured.id %}">
                                        <div class="btn btn-outline-secondary btn-favorite  mt-1 mt-sm-0 active" data-toggle="tooltip" data-placement="top" 
                                            title={% if featured in fav_product %}"حذف از علاقه‌مندی"{% else %}"افزودن به علاقه‌مندی"{% endif %}
                                            style={% if featured in fav_product %}"background-color:#fcb941"{% else %}{% endif %} >
                                        </div>
                                    </a>
                                    <div class="btn btn-outline-secondary btn-compare"></div>
                                </div>
                                <div class="details p-3">
                                    <div class="category">
                                        <a href="{% url 'product_detail' featured.id %}">{{featured.category}}</a>
                                    </div>
                                    <a href="{% url 'product_detail' featured.id %}"><h2>{{featured.title}}</h2></a>
                                    <div class="price">{{featured.price | intcomma}} تومان</div>
                                    <div class="rate">
                                        <i class="fa fa-star-half-alt"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span class="reviews">(14 رای دهنده)</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /Product Box -->
                        </div>
                    {% endfor %}
                </div>
            <!-- /Featured Products-->
            
            <!-- On Sale Products-->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 featured-product on-sale">
                    {% for on_sale in on_sale_products %}
                        <div class="col">
                            <!-- Product Box -->
                            <div class="product-box">
                                <a href="{% url 'product_detail' on_sale.id %}">
                                    <div class="image" style="background-image: url('{{on_sale.product_image.url}}')">
                                        <span class="badge on-sale-badge">فروش ویژه</span>
                                    </div>
                                </a>
                                <div class="details p-3">
                                    <div class="category">
                                        <a href="{% url 'product_detail' on_sale.id %}">{{on_sale.category}}</a>
                                    </div>
                                    <a href="{% url 'product_detail' on_sale.id %}"><h2>{{on_sale.title}}</h2></a>
                                    <div>
                                        {% if on_sale.discount_price %}
                                            <span class="discounted">{{on_sale.price | intcomma}} تومان</span>
                                        {% endif %}
                                        <br class="d-sm-none">
                                        <span class="price">{{on_sale.discount_price | intcomma}} تومان</span>
                                    </div>
                                    <div class="rate">
                                        <i class="fa fa-star-half-alt"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span class="reviews">(14 رای دهنده)</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /Product Box -->
                        </div>
                    {% endfor %}
                </div>
            <!-- /On Sale Products-->
            
            <!-- Most Visited Products-->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 featured-product most-visited">
                    {% for most_visited in most_visited_products %}
                        <div class="col">
                            <!-- Product Box -->
                            <div class="product-box">
                                <a href="{% url 'product_detail' most_visited.id %}"><div class="image" style="background-image: url('{{most_visited.product_image.url}}')"></div></a>
                                <div class="icons">
                                    <a href="{% url 'fav_product' most_visited.id %}">
                                        <div class="btn btn-outline-secondary btn-favorite mt-1 mt-sm-0" data-toggle="tooltip" data-placement="top" 
                                            title={% if most_visited in fav_product %}"حذف از علاقه‌مندی"{% else %}"افزودن به علاقه‌مندی"{% endif %}
                                            style={% if most_visited in fav_product %}"background-color:#fcb941"{% else %}{% endif %} >
                                        </div>
                                    </a>
                                    <div class="btn btn-outline-secondary btn-compare"></div>
                                </div>
                                <div class="details p-3">
                                    <div class="category">
                                        <a href="{% url 'product_detail' most_visited.id %}">{{most_visited.category}}</a>
                                    </div>
                                    <a href="{% url 'product_detail' most_visited.id %}"><h2>{{most_visited.title}}</h2></a>
                                    <div class="price">{{most_visited.price | intcomma}} تومان</div>
                                    <div class="rate">
                                        <i class="fa fa-star-half-alt"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span class="reviews">(14 رای دهنده)</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /Product Box -->
                        </div>
                    {% endfor %}
                </div>
            <!-- /Most Visited Products-->
        <!-- /Products -->
    </div>
</section>
<!-- /Featured Products Section -->

<!-- On Sale Products -->
<section id="on-sale-products" class="py-5 mt-5">
    <h1 class="section-title">فروش ویژه</h1>
    <div class="section-subtitle">محصولات دارای تخفیف ویژه به مدت محدود</div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="on-sale-product-box h-100 p-3" data-aos="fade-zoom-in" data-aos-duration="800">
                    <div class="row h-100">
                        <div class="col-12 col-sm-4 col-lg-5">
                            <a href="./product.html"><div class="image h-100" style="background-image: url('{% static 'images/products/p1000.png' %}')"></div></a>
                        </div>
                        <div class="col-12 col-sm-8 col-lg-7 py-3">
                            <div class="box-title">محصول ویژه امروز</div>
                            <div class="box-subtitle">فروش به مدت محدود</div>
                            <a href="./product.html">
                                <div class="product-title pt-4">گوشی موبایل سامسونگ مدل Galaxy A51 دو سیم کارت</div>
                            </a>
                            <div class="price py-2">
                                <span class="discounted">4.500.000 تومان</span>
                                <br class="d-sm-none">
                                <span class="pre">4.800.000 تومان</span>
                            </div>
                            <div class="cta pt-2">
                                <a href="./product.html" class="hvr-icon-back">همین حالا بخرید <i class="fa fa-arrow-left hvr-icon"></i></a>
                            </div>
                            <div class="counter mt-3">
                                <div class="time-counter">
                                    <div class="seconds count">
                                        <div class="num">30</div>
                                        <div class="label">ثانیه</div>
                                    </div>
                                    <div class="minutes count">
                                        <div class="num">59</div>
                                        <div class="label">دقیقه</div>
                                    </div>
                                    <div class="hours count">
                                        <div class="num">13</div>
                                        <div class="label">ساعت</div>
                                    </div>
                                    <div class="days count">
                                        <div class="num">38</div>
                                        <div class="label">روز</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for special_sale in special_sale_products %}
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Product Box -->
                    <div class="product-box">
                        <a href="{% url 'product_detail' special_sale.id %}">
                            <div class="image" style="background-image: url('{{special_sale.product_image.url}}')">
                                <span class="badge on-sale-badge">فروش ویژه</span>
                            </div>
                        </a>
                        <div class="details p-3">
                            <div class="category">
                                <a href="{% url 'product_detail' special_sale.id %}">{{special_sale.category}}</a>
                            </div>
                            <a href="{% url 'product_detail' special_sale.id %}"><h2>{{special_sale.title}}</h2></a>
                            <div>
                                <span class="discounted">{{special_sale.discount_price | intcomma}} تومان</span>
                                <br class="d-sm-none">
                                <span class="price">{{special_sale.price | intcomma}} تومان</span>
                            </div>
                            <div class="rate">
                                <i class="fa fa-star-half-alt"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span class="reviews">(14 رای دهنده)</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Product Box -->
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- /On Sale Products -->

<!-- Benefits Section -->
<section id="benefits" class="pt-4">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 gy-3 text-center">
            <div class="col" data-aos="fade-zoom-in" data-aos-duration="800">
                <img src="{% static '/images/benefits/benefit1.png' %}" alt="">
                <span>پشتیبانی 24 ساعته</span>
            </div>
            <div class="col" data-aos="fade-zoom-in" data-aos-duration="1000">
                <img src="{% static 'images/benefits/benefit2.png' %}" alt="">
                <span>ضمانت اصالت کالا</span>
            </div>
            <div class="col" data-aos="fade-zoom-in" data-aos-duration="1200">
                <img src="{% static 'images/benefits/benefit3.png' %}" alt="">
                <span>ضمانت بازگشت وجه</span>
            </div>
            <div class="col" data-aos="fade-zoom-in" data-aos-duration="1400">
                <img src="{% static 'images/benefits/benefit4.png' %}" alt="">
                <span>ارسال سریع و رایگان</span>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col">
                <hr>
            </div>
        </div>
    </div>
</section>
<!-- /Benefits Section -->

<!-- Most Sales Products -->
<section id="most-sales-products" class="pt-4">
    <h1 class="section-title">پرفروش ترین محصولات</h1>
    <div class="container pt-4">
        <!-- Tabs -->
        <div class="row pb-2 pb-sm-4">
            <div class="col-12 text-center">
                <div class="btn-group" role="group" id="most-sales-products-nav">
                    <button type="button" class="btn active most-sales-categories" data-val="mobile">گوشی موبایل</button>
                    <button type="button" class="btn most-sales-categories" data-val="laptop">لپ تاپ</button>
                    <button type="button" class="btn most-sales-categories" data-val="computer">تجهیزات کامپیوتر</button>
                    <button type="button" class="btn most-sales-categories" data-val="camera">دوربین</button>
                </div>
            </div>
        </div>
        <!-- /Tabs -->

        <!-- Products -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 most-sales-product mobile" data-aos="fade-up" data-aos-duration="1000">
            {% for mobile in most_sale_mobiles %}
                <div class="col">
                    <!-- Product Box -->
                    <div class="product-box">
                        <a href="{{mobile.get_absolute_url}}"><div class="image" style="background-image: url('{{mobile.product_image.url}}')"></div></a>
                        <div class="icons">
                            <a href="{% url 'fav_product' mobile.id %}">
                                <div class="btn btn-outline-secondary btn-favorite  mt-1 mt-sm-0 active" data-toggle="tooltip" data-placement="top" 
                                    title={% if mobile in fav_product %}"حذف از علاقه‌مندی"{% else %}"افزودن به علاقه‌مندی"{% endif %}
                                    style={% if mobile in fav_product %}"background-color:#fcb941"{% else %}{% endif %} >
                                </div>
                            </a>
                            <div class="btn btn-outline-secondary btn-compare"></div>
                        </div>
                        <div class="details p-3">
                            <div class="category">
                                <a href="{{mobile.get_absolute_url}}">{{mobile.category}}</a>
                            </div>
                            <a href="{{mobile.get_absolute_url}}"><h2>{{mobile.title}}</h2></a>
                            <div class="price">{{mobile.price | intcomma}} تومان</div>
                            <div class="rate">
                                <i class="fa fa-star-half-alt"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span class="reviews">(14 رای دهنده)</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Product Box -->
                </div>
            {% endfor %}
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 most-sales-product laptop" data-aos="fade-up" data-aos-duration="1000">
            {% for laptop in most_sale_laptops %}
                <div class="col">
                    <!-- Product Box -->
                    <div class="product-box">
                        <a href="{{laptop.get_absolute_url}}"><div class="image" style="background-image: url('{{laptop.product_image.url}}')"></div></a>
                        <div class="icons">
                            <a href="{% url 'fav_product' laptop.id %}">
                                <div class="btn btn-outline-secondary btn-favorite  mt-1 mt-sm-0 active" data-toggle="tooltip" data-placement="top" 
                                    title={% if laptop in fav_product %}"حذف از علاقه‌مندی"{% else %}"افزودن به علاقه‌مندی"{% endif %}
                                    style={% if laptop in fav_product %}"background-color:#fcb941"{% else %}{% endif %} >
                                </div>
                            </a>
                            <div class="btn btn-outline-secondary btn-compare"></div>
                        </div>
                        <div class="details p-3">
                            <div class="category">
                                <a href="{{laptop.get_absolute_url}}">{{laptop.category}}</a>
                            </div>
                            <a href="{{laptop.get_absolute_url}}"><h2>{{laptop.title}}</h2></a>
                            <div class="price">{{laptop.price | intcomma}} تومان</div>
                            <div class="rate">
                                <i class="fa fa-star-half-alt"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span class="reviews">(14 رای دهنده)</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Product Box -->
                </div>
            {% endfor %}
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 most-sales-product computer" data-aos="fade-up" data-aos-duration="1000">
            {% for accessory in most_sale_computer_accessories %}
                <div class="col">
                    <!-- Product Box -->
                    <div class="product-box">
                        <a href="{{accessory.get_absolute_url}}"><div class="image" style="background-image: url('{{accessory.product_image.url}}')"></div></a>
                        <div class="icons">
                            <a href="{% url 'fav_product' accessory.id %}">
                                <div class="btn btn-outline-secondary btn-favorite  mt-1 mt-sm-0 active" data-toggle="tooltip" data-placement="top" 
                                    title={% if accessory in fav_product %}"حذف از علاقه‌مندی"{% else %}"افزودن به علاقه‌مندی"{% endif %}
                                    style={% if accessory in fav_product %}"background-color:#fcb941"{% else %}{% endif %} >
                                </div>
                            </a>
                            <div class="btn btn-outline-secondary btn-compare"></div>
                        </div>
                        <div class="details p-3">
                            <div class="category">
                                <a href="{{accessory.get_absolute_url}}">{{accessory.category}}</a>
                            </div>
                            <a href="{{accessory.get_absolute_url}}"><h2>{{accessory.title}}</h2></a>
                            <div class="price">{{accessory.price | intcomma}} تومان</div>
                            <div class="rate">
                                <i class="fa fa-star-half-alt"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span class="reviews">(14 رای دهنده)</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Product Box -->
                </div>
            {% endfor %}
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 most-sales-product camera" data-aos="fade-up" data-aos-duration="1000">
            {% for camera in most_sale_cameras %}
                <div class="col">
                    <!-- Product Box -->
                    <div class="product-box">
                        <a href="{{camera.get_absolute_url}}"><div class="image" style="background-image: url('{{camera.product_image.url}}')"></div></a>
                        <div class="icons">
                            <a href="{% url 'fav_product' camera.id %}">
                                <div class="btn btn-outline-secondary btn-favorite  mt-1 mt-sm-0 active" data-toggle="tooltip" data-placement="top" 
                                    title={% if camera in fav_product %}"حذف از علاقه‌مندی"{% else %}"افزودن به علاقه‌مندی"{% endif %}
                                    style={% if camera in fav_product %}"background-color:#fcb941"{% else %}{% endif %} >
                                </div>
                            </a>
                            <div class="btn btn-outline-secondary btn-compare"></div>
                        </div>
                        <div class="details p-3">
                            <div class="category">
                                <a href="{{camera.get_absolute_url}}">{{camera.category}}</a>
                            </div>
                            <a href="{{camera.get_absolute_url}}"><h2>{{camera.title}}</h2></a>
                            <div class="price">{{camera.price | intcomma}} تومان</div>
                            <div class="rate">
                                <i class="fa fa-star-half-alt"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span class="reviews">(14 رای دهنده)</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Product Box -->
                </div>
            {% endfor %}
        </div>
        <!-- /Products -->
    </div>
</section>
<!-- /Most Sales Products -->

<!-- Promo Images -->
<div class="container" data-aos="fade-up" data-aos-duration="1200">
    <div class="row">
        <div class="col-12 col-md-4 pt-2 text-center">
            <a href="#">
                <img src="{% static 'images/promo-image1.png' %}" alt="">
            </a>
        </div>
        <div class="col-12 col-md-8 pt-2 text-center">
            <a href="#">
                <img src="{% static 'images/promo-image2.png' %}" alt="">
            </a>
        </div>
    </div>
</div>
<!-- /Promo Images -->

<!-- Blog Section -->
<section id="blog" class="pt-5">
    <h1 class="section-title">جدیدترین مقالات آموزشی</h1>
    <div class="container pt-4">
        <div class="row row-cols-1 row-cols-md-3">
            {% for post in blog_posts %}
                <!-- Blog Post -->
                <div class="col">
                    <div class="blog-post-box" data-aos="fade-up" data-aos-duration="1000">
                        <a href="{% url 'blog_post_detail' post.id %}"><div class="post-image" style="background-image: url('{{post.blog_image.url}}')"></div></a>
                        <div class="details py-3 px-4">
                            <div class="post-date">ارسال شده در {{post.datetime_modified}}</div>
                            <a href="{% url 'blog_post_detail' post.id %}">
                                <h2 class="post-title">{{post.title}}</h2>
                            </a>
                            <a href="{% url 'blog_post_detail' post.id %}">
                                <div class="post-description">{{post.description | safe | truncatewords:20}}</div>
                            </a>
                            <div class="read-more"><a href="{% url 'blog_post_detail' post.id %}" class="hvr-icon-back">بیشتر خوانید <i class="fa fa-arrow-left hvr-icon"></i></a></div>
                        </div>
                    </div>
                </div>
                <!-- Blog Post -->
            {% endfor %}
        </div>
    </div>
</section>
<!-- /Blog Section -->

{% endblock content %}