{% extends '_base.html' %}

{% load static %}

{% block title %}آدرس های شما{% endblock title %}

{% block content %}
<section class="inner-page" id="profile-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>ناحیه کاربری</h1>
                            <p>به ناحیه کاربری روبیک مارکت خوش آمدید.</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">صفحه نخست</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'personal_info' %}">ناحیه کاربری</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">آدرس های من</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <!-- Side Panel -->
                            {% include 'includes/dashboard_side_panel.html' %}
                            <!-- /Side Panel -->
                        </div>
                        <div class="col-12 col-lg-9 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                            <!-- New Address Form -->
                            <div class="custom-container mb-2" id="new-address">
                                <div class="row pt-2 px-3">
                                    <div class="col-12"><h1>ویرایش آدرس </h1></div>
                                </div>
                                <hr>
                                <div class="container">
                                    <form action="{% url 'edit_address' address.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12 pt-3">
                                                <div class="row">
                                                    <div class="col-12 col-md-4 pl-2">
                                                        <div class="form-group m-1">
                                                            <label for="state">استان:</label>
                                                            <input type="text" name="state" id="state" class="form-control" value="{{address.state}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4 pl-2">
                                                        <div class="form-group m-1">
                                                            <label for="city">شهر :</label>
                                                            <input type="text" name="city" id="city" class="form-control" value="{{address.city}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4 pl-2">
                                                        <div class="form-group m-1">
                                                            <label for="selected">آدرس پیش فرض باشد؟</label>
                                                            <select name="is_selected" id="selected" class="form-control">
                                                                <option value="false">خیر</option>
                                                                <option value="true">بله</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-8 pl-2">
                                                        <div class="form-group m-1">
                                                            <label for="full_address">نشانی کامل:</label>
                                                            <input type="text" name="full_address" id="address" class="form-control" value="{{address.full_address}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4 pl-2">
                                                        <div class="form-group m-1">
                                                            <label for="postal_code">کد پستی:</label>
                                                            <input type="text" name="postal_code" id="postal_code" class="form-control" value="{{address.postal_code}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4 pl-2">
                                                        <div class="form-group m-1">
                                                            <label for="delivery_person">تحویل گیرنده:</label>
                                                            <input type="text" name="delivery_person" id="delivery_person" class="form-control" value="{{address.delivery_person}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4 pl-2">
                                                        <div class="form-group m-1">
                                                            <label for="phone_no">تلفن تماس:</label>
                                                            <input type="text" name="phone_no" id="tel" class="form-control" value="{{address.phone_no}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group m-1 pb-3">
                                                            <button type="submit" class="btn btn-primary px-5">ویرایش آدرس</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /New Address Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}