{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}ویرایش اطلاعات حساب کاربری{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="container mb-5">
        <p>{{user.username}} عزیز، لطفا بعد از ویرایش اطلاعات خود، جهت ثبت مقادیر روی دکمه "ویرایش اطلاعات" کلیک کنید.</p>
    </div>
    {% for info in personal_info %}
        <form action="{% url 'edit_info' %}" method="post">
            {% csrf_token %}
            <div class="container row mb-5">
                <div class="col-md-4">
                    <label for="">نام: </label>
                    <div>
                        <input type="text" id="edit-info" value="{{info.first_name}}" name="first_name">
                    </div>
                    <label for="">نام خانوادگی: </label>
                    <div>
                        <input type="text" id="edit-info" value="{{info.last_name}}" name="last_name">
                    </div>
                    <label for="id">کد ملی:</label>
                    <div>
                        <input type="text" id="edit-info" value="{{info.p_id}}" name="p_id">
                    </div>
                    <br>
                    <button class="btn btn-success" type="submit" style="margin-right: 10px;">ویرایش اطلاعات</button>
                </div>
                <div class="col-md-4">
                    <label for="id">شماره کارت: </label>
                    <div>
                        <input type="text" id="edit-info" value="{{info.cart_no}}" name="cart_number">
                    </div>
                    <label for="id">شماره تماس: </label>
                    <div>
                        <input type="text" id="edit-info" value="{{info.phone_no}}" name="phone_number">
                    </div>
                    <label for="id">پست الکترونیک: </label>
                    <div>
                        <input type="text" id="edit-info" value="{{info.email}}" name="email">
                    </div>
                </div>
            </div>
        </form>
    {% endfor %}
</div>
{% endblock content %}